@font-face {
  font-family: 'Nunito';
  src: local('Nunito Bold'), local('Nunito-Bold'), url('~/assets/fonts/Nunitobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Bold'), local('NunitoSans-Bold'), url('~/assets/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Regular'), local('Nunito-Regular'), url('~/assets/fonts/Nunitoregular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Regular'), local('NunitoSans-Regular'), url('~/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Black'), local('Nunito-Black'), url('~/assets/fonts/Nunitoblack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Black'), local('NunitoSans-Black'), url('~/assets/fonts/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marck Script';
  src: local('Marck Script'), local('MarckScript-Regular'), url('~/assets/fonts/marckscript.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
