@font-face {
  font-family: 'Nunito';
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url('~/assets/fonts/Nunitosemibold.woff2') format('woff2'), url('~/assets/fonts/Nunitosemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url('~/assets/fonts/Nunitoextrabold.woff2') format('woff2'), url('~/assets/fonts/Nunitoextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldItalic'), url('~/assets/fonts/Nunitosemibolditalic.woff2') format('woff2'), url('~/assets/fonts/Nunitosemibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'), url('~/assets/fonts/Nunitoextralightitalic.woff2') format('woff2'), url('~/assets/fonts/Nunitoextralightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Bold'), local('Nunito-Bold'), url('~/assets/fonts/Nunitobold.woff2') format('woff2'), url('~/assets/fonts/Nunitobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Regular'), local('Nunito-Regular'), url('~/assets/fonts/Nunitoregular.woff2') format('woff2'), url('~/assets/fonts/Nunitoregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), url('~/assets/fonts/Nunitoextralight.woff2') format('woff2'), url('~/assets/fonts/Nunitoextralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Light Italic'), local('Nunito-LightItalic'), url('~/assets/fonts/Nunitolightitalic.woff2') format('woff2'), url('~/assets/fonts/Nunitolightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Black Italic'), local('Nunito-BlackItalic'), url('~/assets/fonts/Nunitoblackitalic.woff2') format('woff2'), url('~/assets/fonts/Nunitoblackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Italic'), local('Nunito-Italic'), url('~/assets/fonts/Nunitoitalic.woff2') format('woff2'), url('~/assets/fonts/Nunitoitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraBold Italic'), local('Nunito-ExtraBoldItalic'), url('~/assets/fonts/Nunitoextrabolditalic.woff2') format('woff2'), url('~/assets/fonts/Nunitoextrabolditalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'), url('~/assets/fonts/Nunitobolditalic.woff2') format('woff2'), url('~/assets/fonts/Nunitobolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Black'), local('Nunito-Black'), url('~/assets/fonts/Nunitoblack.woff2') format('woff2'), url('~/assets/fonts/Nunitoblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito Light'), local('Nunito-Light'), url('~/assets/fonts/Nunitolight.woff2') format('woff2'), url('~/assets/fonts/Nunitolight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marck Script';
  src: local('Marck Script'), local('MarckScript-Regular'), url('~/assets/fonts/marckscript.woff2') format('woff2'), url('~/assets/fonts/marckscript.woff') format('woff'), url('~/assets/fonts/marckscript.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
